<div class="card reserva-card" (click)="onCardClick()">
  <div class="card-header">
    <div class="card-title">
      <span class="card-title-label">SALA</span>
      <span class="card-title-value"># {{ reserva.salaNumero }}</span>
      <span class="card-title-capacity">
        · {{ reserva.salaCapacidad }} personas
      </span>
    </div>

    <span class="chip" [ngClass]="estadoClase">
      {{ reserva.estado }}
    </span>
  </div>

  <div class="card-body">
    <p class="meta-linea">
      <span class="meta-label">Fecha</span>
      <span class="meta-value">
        {{ reserva.fechaInicio | date : 'dd/MM/yyyy' }}
      </span>
    </p>

    <p class="meta-linea">
      <span class="meta-label">Horario</span>
      <span class="meta-value">
        {{ reserva.fechaInicio | date : 'HH:mm' }}
        -
        {{ reserva.fechaFinal  | date : 'HH:mm' }}
      </span>
    </p>

    <p class="meta-linea">
      <span class="meta-label">Monto</span>
      <span class="meta-value meta-value--strong">
        {{ reserva.monto | currency:'ARS':'symbol':'1.0-0' }}
      </span>
    </p>

    <p class="meta-linea" *ngIf="mostrarCliente">
      <span class="meta-label">Cliente</span>
      <span class="meta-value">
        {{ reserva.clienteEmail }}
      </span>
    </p>

    <p class="meta-linea">
      <span class="meta-label">Pago</span>
      <span class="meta-value">
        {{ formatTipoPago(reserva.tipoPago) }}
      </span>
    </p>
  </div>

</div>
