<button class="btn btn-primary mb-2" (click)="crearEmpleado()">Nuevo Empleado</button>

<div class="bg-base-100 flex flex-col rounded-md shadow-base-300/20 shadow-sm">
  <div class="w-full overflow-x-auto">
    <table class="table min-w-full">
      <thead class="border-b-2 border-[var(--border-2)]">
        <tr>
          <th class="text-base-content/80">DNI</th>
          <th class="text-base-content/80">Email</th>
          <th class="text-base-content/80">Teléfono</th>
          <th class="text-base-content/80">Legajo</th>
          <th class="text-base-content/80">Rol</th>
        </tr>
      </thead>

      <tbody>
        <tr
          class="row-hover cursor-pointer border-b border-[var(--border-2)] last:border-b-0"
          *ngFor="let empleado of empleados()"
          (click)="onEmpleadoSelected(empleado)"
        >
          <td class="font-medium">{{ empleado.dni }}</td>
          <td class="text-base-content/80">{{ empleado.email }}</td>

          <td>
            <span class="badge badge-soft badge-primary text-xs">
              {{ empleado.telefono }}
            </span>
          </td>

          <td>{{ empleado.legajo || 'N/A' }}</td>

          <td>
            <span class="badge badge-soft badge-success text-xs">
              {{ empleado.rol }}
            </span>
          </td>
        </tr>

        <tr *ngIf="empleados().length === 0">
          <td colspan="5" class="py-10">
            <div class="flex flex-col items-center justify-center text-center">
              <span class="icon-[tabler--user-off] size-7 text-base-content/70"></span>
              <p class="mt-2 text-sm text-base-content/80">No hay empleados aún</p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
