<div class="w-full overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th>DNI</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Legajo</th>
        <th>Rol</th>
      </tr>
    </thead>

    <tbody>
      <tr class="row-hover" *ngFor="let empleado of empleados()" (click)="onEmpleadoSelected(empleado)">
        <td>{{ empleado.dni }}</td>
        <td>{{ empleado.email }}</td>

        <td>
          <span class="badge badge-soft badge-primary text-xs">
            {{ empleado.telefono }}
          </span>
        </td>

        <td>{{ empleado.legajo || 'N/A' }}</td>

        <td>
          <span class="badge badge-soft badge-success text-xs">
            {{ empleado.rol }}
          </span>
        </td>

       

      </tr>

      <tr *ngIf="empleados().length === 0">
        <td colspan="6" class="text-center opacity-70 py-6">
          No hay empleados aún
        </td>
      </tr>
    </tbody>
  </table>
</div>
