<h2>Crear cuenta</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="register-form" novalidate>
  <div class="field">
    <label for="nombre">Nombre</label>
    <input id="nombre" formControlName="nombre" type="text" />
    @if (hasError('nombre', 'required')) {
      <p class="error">El nombre es obligatorio.</p>
    }
    @if (hasError('nombre', 'minlength')) {
      <p class="error">Debe tener al menos 3 caracteres.</p>
    }
  </div>

  <div class="field">
    <label for="apellido">Apellido</label>
    <input id="apellido" formControlName="apellido" type="text"/>
    @if (hasError('apellido', 'required')) {
      <p class="error">El apellido es obligatorio.</p>
    }
    @if (hasError('apellido', 'minlength')) {
      <p class="error">Debe tener al menos 3 caracteres.</p>
    }
  </div>

  <div class="field">
    <label for="dni">DNI</label>
    <input id="dni" formControlName="dni" type="text"/>
    @if (hasError('dni', 'required')) {
      <p class="error">El DNI es obligatorio.</p>
    }
    @if (hasError('dni', 'pattern')) {
      <p class="error">Ingresá solo números (7 u 8 dígitos).</p>
    }
  </div>

  <div class="field">
    <label for="telefono">Teléfono</label>
    <input id="telefono" formControlName="telefono" type="text"/>
    @if (hasError('telefono', 'required')) {
      <p class="error">El teléfono es obligatorio.</p>
    }
    @if (hasError('telefono', 'pattern')) {
      <p class="error">Ingresá solo números (al menos 10 dígitos).</p>
    }
  </div>

  <div class="field">
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email" />
    @if (hasError('email', 'required')) {
      <p class="error">El email es obligatorio.</p>
    }
    @if (hasError('email', 'email')) {
      <p class="error">Formato de email inválido.</p>
    }
  </div>

  <div class="field">
    <label for="contrasena">Contraseña</label>
    <input id="contrasena" type="password" formControlName="contrasena" />
    @if (hasError('contrasena', 'required')) {
      <p class="error">La contraseña es obligatoria.</p>
    }
    @if (hasError('contrasena', 'minlength')) {
      <p class="error">Mínimo 4 caracteres.</p>
    }
    @if (hasError('contrasena', 'pattern')) {
      <p class="error">Debe tener al menos una letra y un número.</p>
    }
  </div>

  <button type="submit" [disabled]="loading">
    {{ loading ? 'Creando...' : 'Registrarme' }}
  </button>

  @if (error) {
    <p class="error global-error">{{ error }}</p>
  }
</form>
