<article class="card" >
  <header class="card-header">
    
    
    <h3 class="card-title" >Sala #{{ hall().numero }}</h3>
    
  </header>

  <div class="card-body">
    <p class="descripcion">
      {{ hall().descripcion }}
    </p>

    <p class="capacidad">
      Capacidad: <strong>{{ hall().cantidad_personas }}</strong> personas
    </p>
  </div>
  <button [routerLink]="['/hall', hall().id, 'edit']">Edit description</button>
  <button type="button" (click)="onDeleteClick()">Delete</button>

</article>
