<div class="header-hall">
  <h2>Salas</h2>
  @if (canCreate()) {
    <button routerLink="/hall/new">Crear sala</button>
  }
</div>



<section class="container">
  @if (hallList().length) {
    <div class="grid">
        
      @for (hall of hallList(); track hall.id) {
        <app-card-hall
          [hall]="hall"
          [canEdit]="canEdit()"
          [canRemove]="canDelete()"
          (delete)="deleteSala($event)"
        ></app-card-hall>
      }
    </div>
  } @else {
    <div class="estado-vacio">
      No hay salas para mostrar.
    </div>
  }
</section>
