@import "tailwindcss";

@plugin "flyonui";
@import "../../../node_modules/flyonui/variants.css";
@source "../../../node_modules/flyonui/dist/index.js";

@plugin "@iconify/tailwind4";

@source "../../../src/**/*.{html,ts}";
@import "./form-styles.css";

@import "tailwindcss-intersect";
@plugin "tailwindcss-motion";