<form [formGroup]="form" (ngSubmit)="submit()" class="space-y-4" novalidate>
  <h2 class="text-base-content text-2xl font-semibold">Editar descripción</h2>

  <div class="input-floating w-96">
    <input
      id="descripcion"
      type="text"
      placeholder="Descripción"
      class="input hover:bg-[var(--bg)]"
      formControlName="descripcion"
      [class.is-invalid]="isInvalid('descripcion')"
      [class.is-valid]="isValid('descripcion')"
      [attr.aria-invalid]="isInvalid('descripcion') ? 'true' : null"
    />

    <label class="input-floating-label" for="descripcion">Descripción</label>

    @if (isInvalid('descripcion')) {
      <span class="helper-text ps-3 text-[var(--danger)]">
        @if (hasError('descripcion','required')) { La descripción es obligatoria. }
        @else if (hasError('descripcion','minlength')) {
          La descripción debe tener al menos
          {{ form.get('descripcion')?.errors?.['minlength']?.requiredLength }} caracteres.
        }
        @else { Campo inválido. }
      </span>
    } @else if (isValid('descripcion')) {
      <span class="helper-text ps-3">Se ve bien.</span>
    }
  </div>

  <button type="submit" class="btn btn-lg btn-primary btn-gradient btn-block" [disabled]="form.invalid">
    Guardar
  </button>
</form>
