@import "tailwindcss";
@plugin "flyonui";
@import "flyonui/variants.css";
@source "../node_modules/flyonui/flyonui.js";
@plugin "@iconify/tailwind4";
:root{
  --bg:#0b0f13; --surface:#11161c; --muted:#6b7280; --text:#e5e7eb;
  --primary:#22d3ee; --primary-700:#0ea5b7; --radius:16px;
  --shadow:0 10px 25px rgba(0,0,0,.35);
}
*{ box-sizing:border-box } html,body{ height:100% }
/* body{
  margin:0; font-family:Inter, system-ui, Segoe UI, Roboto, Arial, sans-serif;
  background:linear-gradient(180deg,#0a0f14 0%,#0b1220 100%); color:var(--text);
} */
a{ color:inherit; text-decoration:none }


html, body { height: 100%; }
body {
  margin: 0;
  position: relative;
  min-height: 100%;
  isolation: isolate; /* clave: crea un “mundo” de z-index propio */
}

/* Fondo SVG */
body::before{
  content: "";
  position: fixed;
  inset: 0;
  z-index: 0;
  background-size: 300px;
  background-image: url("/assets/topography.svg");
  background-repeat: repeat;
  background-size: 600px;
  opacity: 0.8;          /* probá 0.15 si sigue muy suave */
  pointer-events: none;
}

/* App arriba del fondo */
app-root{
  position: relative;
  z-index: 1;
  display: block;
  min-height: 100%;
}


.btn{
  display:inline-flex; align-items:center; gap:8px; cursor:pointer;
  padding:10px 14px; border-radius:20px; border:1px solid transparent;
  background:linear-gradient(180deg,var(--primary),var(--primary-700)); color:#061016; font-weight:600;
}
.btn.ghost{ background:transparent; color:var(--text); border-color:rgba(255,255,255,.12) }

.card{
  background:linear-gradient(180deg,var(--surface),#0e1319);
  border:1px solid rgba(255,255,255,.06); border-radius:var(--radius);
  box-shadow:var(--shadow); padding:16px;
}
.muted{ color:var(--muted) }

:focus-visible{ outline:2px solid var(--primary); outline-offset:2px }
@media (prefers-reduced-motion: reduce){ *{ animation:none!important; transition:none!important } }

/* Estilos para las notificaciones */
.success-snackbar {
    background-color: #4caf50 !important;
    color: white !important;
}

.error-snackbar {
    background-color: #f44336 !important;
    color: white !important;
}

.mat-snack-bar-container {
    margin: 16px !important;
}


/* Estilos para el calendario */
.success-snackbar {
  background: #198754 !important;
  color: #fff !important;
}

.warn-snackbar {
  background: #ffc107 !important;
  color: #000 !important;
}

.error-snackbar {
  background: #dc3545 !important;
  color: #fff !important;
}
